.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  overflow-y: scroll;

  width: 100vw;
  height: 100vh;

  background-color: rgba($bg-black, .2);

  opacity: 1;
  visibility: visible;

  transition: opacity $duration $timing-func;

  @media screen and (max-width: 767.98px) {
    padding-top: 93px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 93px;;
  }
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
