.contact {
  font-style: normal;
  text-align: center;

  // background-color: darkolivegreen;
  @media screen and (min-width: 1200px) {
  text-align: start;
  }
}

.contact__item {
  line-height: 1.71;
  // background-color: cadetblue;

  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

.contact__link {
  display: inline-block;
  color: rgba($text-inverse, .6);
}
