.contact-info {
  display: flex;
  flex-direction: column-reverse;
  background-color: lightblue;

  @media screen and (min-width: 768px) {
    flex-direction: column;
    row-gap: 10px;
  }

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    column-gap: 30px;
  }
}

.contact-info__link {
  display: flex;
  align-items: center;

  font-weight: 500;
  letter-spacing: 0.02rem;
  color: $text-primary;

  white-space: nowrap;
}

.contact-info__icon {
  display: none;
  fill: currentColor;
  margin-right: 8px;

  @media screen and (min-width: 768px) {
    display: block;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 10px;
  }
}
