.mobile-menu {
  display: flex;
}

.mobile-menu__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  background-color: $bg-primary;

  display: flex;
  flex-direction: column;
  // justify-content: space-between;

  padding-top: 48px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 130px;

  transform: translateX(-100%);
  opacity: 0;
  transition:
    transform $duration $timing-func,
    opacity $duration $timing-func;

  &.is-open {
    transform: translateX(0);
    opacity: 1;
  }
}

.mobile-menu__btn {
  background-color: transparent;
  border: none;
  border-radius: 50%;

  transition:
    color $duration $timing-func,
    background-color $duration $timing-func;

  &:hover,
  &:focus {
    color: $text-accent;
    background-color: rgba($bg-dark, .1);
  }

  &--open {
    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  &--close {
    position: absolute;
    top: 10px;
    right: 15px;
  }
}

.mobile-menu__thumb {
  display: block;
  fill: currentColor;
}

.mobile-menu__mobile-nav {
  margin-bottom: 64px;
}

.mobile-menu__mobile-contacts{
  margin-bottom: 64px;
}
