.modal {
  margin: 0 auto;
  padding: 40px;

  background-color: $bg-primary;
  border-radius: 4px;
  box-shadow:
    0px 2px 1px 0px rgba($bg-black, 0.20),
    0px 1px 1px 0px rgba($bg-black, 0.14),
    0px 1px 3px 0px rgba($bg-black, 0.12);

  opacity: 1;
  transform: scale(1);

  transition:
    box-shadow $duration $timing-func,
    opacity $duration $timing-func,
    transform $duration $timing-func;

  .backdrop.is-hidden & {
    box-shadow: none;
    opacity: 0;
    transform: scale(1.1);
  }

  @media screen and (min-width: 480px) {
    width: 450px;
    background-color: darkolivegreen;
  }

  @media screen and (min-width: 768px) {
    width: 528px;
    background-color: cadetblue;
  }

  @media screen and (min-width: 1200px) {
    background-color: bisque;
  }
}

.modal__title {
  font-size: 20px;
  margin-bottom: 12px;
  text-align: center;
}

.modal__btn-close {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: $text-black;
  background-color: $bg-primary;
  border: 1px solid rgba($bg-black, .1);
  border-radius: 50%;

  width: 30px;
  height: 30px;

  transition: color $duration $timing-func;

  &:hover,
  &:focus {
    color: $text-accent;
  }
}

.modal__icon-close {
  width: 18px;
  height: 18px;

  fill: currentColor;
}
