.page-footer {
  background-color: $bg-dark;
  color: $text-inverse;
}

.page-footer__container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 60px;
  padding-bottom: 60px;
}

.page-footer__logo {
  margin-bottom: 20px;
}
