.site-menu {
  display: flex;

  @media screen and (min-width: 768px) {
    flex-grow: 1;
  }
}

.site-menu__container {
  @media screen and (max-width: 767.98px) {
    // display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    overflow-y: scroll;

    width: 100vw;
    height: 100vh;
    padding-top: 72px;
    padding-left: 16px;
    padding-right: 24px;
    padding-bottom: 48px;

    background-color: burlywood;
    transform: translateX(100%);
    transition: transform 500ms $timing-func;

    &.is-open {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      transform: translateX(0);
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
  }
}

.site-menu__button-burger {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  padding: 0;
  border: 0;

  color: $text-secondary;
  border-radius: 50%;
  background-color: transparent;

  transition: background-color $duration $timing-func;

  @media screen and (min-width: 768px) {
    display: none;
  }

  &:hover,
  &:focus {
    color: $text-accent;
    background-color: rgba($bg-dark, .1);
  }
}

.site-menu__button-cross {
  position: absolute;
  top: 10px;
  right: 15px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  padding: 0;
  border: 0;

  color: $text-secondary;
  border-radius: 50%;
  background-color: transparent;

  transition: background-color $duration $timing-func;

  &:hover,
  &:focus {
    color: $text-accent;
    background-color: rgba($bg-dark, .1);
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.site-menu__thumb {
  display: block;
}

.site-menu__icon-burger {
  fill: currentColor;
}

.site-menu__icon-cross {
  fill: currentColor;
}
