.site-nav {
  @media screen and (max-width: 767.98px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.site-nav__item {
  @media screen and (min-width: 768px) {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}

.site-nav__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: $text-secondary;
  // background-color: chocolate;

  transition: color $duration $timing-func;

  &--current,
  &:hover,
  &:focus {
    color: $text-accent;
  }

  &::after {
    content: "";
    display: block;

    position: absolute;
    left: 0;
    bottom: -1px;

    width: 100%;
    height: 4px;
    background-color: $bg-accent;
    border-radius: 2px;

    opacity: 0;
    transform: scaleX(0);

    transition:
      opacity $duration $timing-func,
      transform $duration $timing-func,
  }

  &--current::after,
  &:hover::after,
  &:focus::after {
    opacity: 1;
    transform: scaleX(1);
  }

}
