.site-contact {
  // background-color: lightcyan;

  @media screen and (max-width: 767.98px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    margin-left: auto;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.site-contact__item {
  @media screen and (max-width: 1199.98px) {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  @media screen and (min-width: 1200px) {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.site-contact__link {
  display: flex;
  align-items: center;

  color: $text-primary;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.02em;

  transition: color $duration $timing-func;

  @media screen and (min-width: 1200px) {
    font-size: 14px;
  }

  &:hover,
  &:focus {
    color: $text-accent;
  }
}

.site-contact__icon {
  margin-right: 8px;
  fill: currentColor;
}
