.social {
  // background-color: darkslateblue;
}

.social__call-to-action{
  margin-bottom: 20px;
}

.social__list {
  display: flex;
  justify-content: center;
  // background-color: cornflowerblue;
}

.social__item {
  &:not(:first-child) {
    margin-left: 10px;
  }
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;

  color: $text-inverse;
  background-color: rgba($text-inverse, .1);
  border-radius: 50%;

  transition:
    color $duration $timing-func,
    background-color $duration $timing-func;

  &:hover,
  &:focus {
    color: $text-inverse;
    background-color: $bg-accent;
  }

  &--gray {
    color: $icon-color;
  }
}

.social__icon {
  fill: currentColor;

  .social__link:hover &,
  .social__link:focus & {
    transform: rotate(360deg);
  }

  transition: transform 1500ms $timing-func;
}
