.social-link {
  display: flex;
  margin-left: -10px;
}

.social-link__item {
  &:not(:last-child) {
    border-right: 1px solid rgba($text-secondary, .2);
  }
}

.social-link__link {
  display: block;
  padding-left: 10px;
  padding-right: 10px;

  color: $text-accent;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.22;
  letter-spacing: 0.02em;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}
