.works {
  // background-color: bisque;

  @media screen and (max-width: 1199.98px) {
    display: none;
  }

  @media screen and (min-width: 1200px) {
    display: block;
  }
}
.works__list {
  // background-color: cadetblue;

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
.works__item {
  @media screen and (min-width: 1200px) {
    width: calc((100% - 60px) / 3);

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
.works__thumb {
  @media screen and (min-width: 1200px) {
    position: relative;
  }
}
.works__overlay {
  @media screen and (min-width: 1200px) {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 70px;

    background-color: rgba($bg-dark, 0.8);
  }
}

.works__title {
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  color: $text-inverse;
  text-transform: uppercase;
}
